<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <button ion-button *ngIf="showEditBtn" (click)="Change()">Edit</button>
  <button ion-button *ngIf="showFollowBtn" [style.backgroundColor]="btnColor" (click)="Change()">Follow</button>
  <img src="https://png.icons8.com/?id=1709&size=280" alt=""> -->

  <div class="userInfoDiv">
    <ion-grid>
      <ion-row text-center>

        <ion-col>
          <ion-avatar item-left>
            <img src="https://i.redditmedia.com/ogq1GdfVw4UWH_gsDMgvLLh6ywWPF3iVRX7Pz3yt27E.jpg?w=1024&s=f0881eaa44b4d1658baee9921d99c555"
              onerror="this.src='https://png.icons8.com/?id=1709&size=280'">
          </ion-avatar>
        </ion-col>

        <ion-col>

          <ion-row>
            <ion-col>
              {{postedjobamount}}
              <br> bài viết
            </ion-col>

            <ion-col>
                  {{followeramount}}
                  <br> người theo dõi
                </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <button ion-button block (click)="GoToChangeProfile()">Sửa thông tin</button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
      <ion-row>
        <pre>{{bio}}</pre>
      </ion-row>
    </ion-grid>
  </div>

  <ion-segment [(ngModel)]="cata" color="primary">
    <ion-segment-button value="userInfo">
      Thông tin
    </ion-segment-button>

    <ion-segment-button value="postedJob">
      Bài đã đăng
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="cata">
    <ion-list *ngSwitchCase="'userInfo'">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            Email:
          </ion-col>
          <ion-col *ngIf="useremail">
            {{useremail}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            Số điện thoại:
          </ion-col>
          <ion-col *ngIf="userphonenumber">
            {{userphonenumber}}
          </ion-col>
        </ion-row>

        <ion-row>
          <button ion-button (click)="logOut()">
            Đăng xuất
          </button>
        </ion-row>
      </ion-grid>

    </ion-list>


    <ion-list *ngSwitchCase="'postedJob'">
      <ion-item-sliding *ngFor="let job of jobList">
        <ion-item>
          <h2>
            <strong>{{ job.title }}</strong>
          </h2>
          <h4 style="color:grey">Ngày hết hạn: {{job.endate}}</h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="GoToEditPostedJob(job.key)">
            <ion-icon name="md-create"> Sửa </ion-icon>
          </button>
          <button ion-button color="danger" (click)="DeleteJob(job.key)">
            <ion-icon name="md-trash"> Xóa </ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  </div>



</ion-content>