<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <ion-title>Đăng ký tài khoản bằng email</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <form [formGroup]="signupForm" (submit)="Signup()" novalidate>
  
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Email của bạn" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
        <p style="color:red">Vui lòng nhập email hợp lệ</p>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Mật khẩu</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Mật khẩu của bạn" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p style="color:red">Mật khẩu cần ít nhất 6 kí tự.</p>
      </ion-item>
  
      <button ion-button block type="submit">Tạo tài khoản</button>
    </form>
  
  </ion-content>